@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Looking for a disc golf course that fits your level? DiscGolfWebApp lets users submit and review courses near you!</p>
</div>
